In [1]:
import pandas as pd
import numpy as np

#### This code is for practicing python code for looking up how many stocks are traded by the individual investors on average
The first example is the Samsung Electronics.

In [47]:
df = pd.read_csv('C:/Users/Park/Documents/BE_Thesis/Intermediate/A005930.csv', index_col=0)

In [48]:
df.head()

,Close,Vol,Credited,Outstanding,Foreign_Ratio,Return,Trend,Ind_80_Bought,Ind_80_Sold,Ind_80_Total,...,PEF_31_Sold,PEF_31_Total,Corp_71_Bought,Corp_71_Sold,Corp_71_Total,KOSPI200,Large,Mid,Small,Unclassified
2006-11-02,614000,260489,18748,147299000,49.67,-0.162602,0,55162,52784,2378,...,0,0,0,0,0,1,0,0,0,1
2006-11-03,611000,280251,19552,147299000,49.59,-0.488599,0,65466,30504,34962,...,0,0,0,0,0,1,0,0,0,1
2006-11-06,605000,348796,18110,147299000,49.52,-0.981997,0,134285,37273,97012,...,0,0,0,0,0,1,0,0,0,1
2006-11-07,609000,355836,18325,147299000,49.45,0.661157,0,54666,69222,-14556,...,0,0,0,0,0,1,0,0,0,1
2006-11-08,615000,280736,19205,147299000,49.45,0.985222,0,37516,58800,-21284,...,0,0,0,0,0,1,0,0,0,1

In [49]:
df_2011 = df.loc['2011-01-01':'2011-12-31'][['Ind_80_Bought','Ind_80_Sold']]
df_2011['Ind_80_Total'] = df_2011.Ind_80_Bought + df_2011.Ind_80_Sold

In [50]:
len(df_2011)

248

In [51]:
print(df_2011.Ind_80_Bought.mean())
print(df_2011.Ind_80_Sold.mean())
print(df_2011.Ind_80_Total.mean())

93264.35483870968
102154.625
195418.97983870967

In [52]:
df_2011.head()

            Ind_80_Bought  Ind_80_Sold  Ind_80_Total
2011-01-03          45815        60468        106283
2011-01-04          58111        52742        110853
2011-01-05          99469        72692        172161
2011-01-06         154265        80879        235144
2011-01-07         201168        91415        292583

In [43]:
(224309/15523539)

0.014449604565041515

Individual investors are trading almost 1.44 per cent of their holdings. The percentage is not so different by time changes.
df_2013 is presenting the

In [18]:
df_2013 = df.loc['2013-01-01':'2013-12-31'][['Ind_80_Bought','Ind_80_Sold']]

In [19]:
df_2013['Ind_80_Total'] = df_2013.Ind_80_Bought+df_2013.Ind_80_Sold

In [20]:
df_2013.Ind_80_Total.mean()

124393.12955465587

In [21]:
(124393/6521732)*100

1.9073614187151513

#### A006800 미래에셋 대우

In [101]:
df = pd.read_csv('C:/Users/Park/Documents/BE_Thesis/Intermediate/A006800.csv', index_col=0)
df_2011 = df.loc['2011-04-01':'2012-03-31'][['Ind_80_Bought','Ind_80_Sold']]
df_2011['Ind_80_Total'] = df_2011.Ind_80_Bought + df_2011.Ind_80_Sold
print(df_2011.Ind_80_Bought.mean())
print(df_2011.Ind_80_Sold.mean())
print(df_2011.Ind_80_Total.mean())
print(df_2011.Ind_80_Total.mean()/69678168)

1375467.94
1419796.372
2795264.312
0.04011678825998984

In [102]:
df_2016 = df.loc['2016-01-01':'2016-12-31'][['Ind_80_Bought','Ind_80_Sold']]
df_2016['Ind_80_Total'] = df_2016.Ind_80_Bought + df_2016.Ind_80_Sold
print(df_2016.Ind_80_Bought.mean())
print(df_2016.Ind_80_Sold.mean())
print(df_2016.Ind_80_Total.mean())
print(df_2016.Ind_80_Total.mean()/92567161)

1111876.8902439023
1039314.918699187
2151191.8089430896
0.023239254458101936

#### A032640 LG유플러스

In [91]:
df = pd.read_csv('C:/Users/Park/Documents/BE_Thesis/Intermediate/A032640.csv', index_col=0)
df_2011 = df.loc['2011-01-01':'2011-12-31'][['Ind_80_Bought','Ind_80_Sold']]
df_2011['Ind_80_Total'] = df_2011.Ind_80_Bought + df_2011.Ind_80_Sold
print(df_2011.Ind_80_Bought.mean())
print(df_2011.Ind_80_Sold.mean())
print(df_2011.Ind_80_Total.mean())
print(df_2011.Ind_80_Total.mean()/67398870)

1317631.2540322582
1279875.0403225806
2597506.294354839
0.03853931518962912

In [92]:
df_2016 = df.loc['2016-01-01':'2016-12-31'][['Ind_80_Bought','Ind_80_Sold']]
df_2016['Ind_80_Total'] = df_2016.Ind_80_Bought + df_2016.Ind_80_Sold
print(df_2016.Ind_80_Bought.mean())
print(df_2016.Ind_80_Sold.mean())
print(df_2016.Ind_80_Total.mean())
print(df_2016.Ind_80_Total.mean()/27945996)

318373.55284552847
348467.22357723577
666840.7764227642
0.023861764541251784

#### A005830 디비손해보험

In [94]:
df = pd.read_csv('C:/Users/Park/Documents/BE_Thesis/Intermediate/A005830.csv', index_col=0)
df_2011 = df.loc['2011-04-01':'2012-03-31'][['Ind_80_Bought','Ind_80_Sold']]
df_2011['Ind_80_Total'] = df_2011.Ind_80_Bought + df_2011.Ind_80_Sold
print(df_2011.Ind_80_Bought.mean())
print(df_2011.Ind_80_Sold.mean())
print(df_2011.Ind_80_Total.mean())
print(df_2011.Ind_80_Total.mean()/24660370)

62501.968
66929.94
129431.908
0.005248579319775007

In [95]:
df_2016 = df.loc['2016-01-01':'2016-12-31'][['Ind_80_Bought','Ind_80_Sold']]
df_2016['Ind_80_Total'] = df_2016.Ind_80_Bought + df_2016.Ind_80_Sold
print(df_2016.Ind_80_Bought.mean())
print(df_2016.Ind_80_Sold.mean())
print(df_2016.Ind_80_Total.mean())
print(df_2016.Ind_80_Total.mean()/14151341)

21694.459349593497
20644.642276422765
42339.10162601626
0.0029918791177469513

#### A004710 한솔테크닉스

In [97]:
df = pd.read_csv('C:/Users/Park/Documents/BE_Thesis/Intermediate/A004710.csv', index_col=0)
df_2011 = df.loc['2011-01-01':'2011-12-31'][['Ind_80_Bought','Ind_80_Sold']]
df_2011['Ind_80_Total'] = df_2011.Ind_80_Bought + df_2011.Ind_80_Sold
print(df_2011.Ind_80_Bought.mean())
print(df_2011.Ind_80_Sold.mean())
print(df_2011.Ind_80_Total.mean())
print(df_2011.Ind_80_Total.mean()/2847847)

124021.54838709677
117235.50806451614
241257.0564516129
0.0847155961860356

In [99]:
df_2016 = df.loc['2016-01-01':'2016-12-31'][['Ind_80_Bought','Ind_80_Sold']]
df_2016['Ind_80_Total'] = df_2016.Ind_80_Bought + df_2016.Ind_80_Sold
print(df_2016.Ind_80_Bought.mean())
print(df_2016.Ind_80_Sold.mean())
print(df_2016.Ind_80_Total.mean())
print(df_2016.Ind_80_Total.mean()/8910120)

206123.54471544715
190624.9349593496
396748.47967479675
0.04452784919561092

#### A003470 유안타증권

In [65]:
df = pd.read_csv('C:/Users/Park/Documents/BE_Thesis/Intermediate/A003470.csv', index_col=0)
df_2011 = df.loc['2011-04-01':'2012-03-31'][['Ind_80_Bought','Ind_80_Sold']]
df_2011['Ind_80_Total'] = df_2011.Ind_80_Bought + df_2011.Ind_80_Sold
print(df_2011.Ind_80_Bought.mean())
print(df_2011.Ind_80_Sold.mean())
print(df_2011.Ind_80_Total.mean())

623154.724
625651.716
1248806.44

In [66]:
1248806/75529565

0.0165340022810935

In [67]:
df_2016 = df.loc['2016-01-01':'2016-12-31'][['Ind_80_Bought','Ind_80_Sold']]
df_2016['Ind_80_Total'] = df_2016.Ind_80_Bought + df_2016.Ind_80_Sold
print(df_2016.Ind_80_Bought.mean())
print(df_2016.Ind_80_Sold.mean())
print(df_2016.Ind_80_Total.mean())

474011.47154471546
479105.3617886179
953116.8333333334

In [68]:
953116/77072253

0.0123665257326784

#### A003540 대신증권

In [73]:
df = pd.read_csv('C:/Users/Park/Documents/BE_Thesis/Intermediate/A003540.csv', index_col=0)
df_2011 = df.loc['2011-04-01':'2012-03-31'][['Ind_80_Bought','Ind_80_Sold']]
df_2011['Ind_80_Total'] = df_2011.Ind_80_Bought + df_2011.Ind_80_Sold
print(df_2011.Ind_80_Bought.mean())
print(df_2011.Ind_80_Sold.mean())
print(df_2011.Ind_80_Total.mean())

113868.304
122249.1
236117.404

In [74]:
df_2011.Ind_80_Total.mean()/48127679

0.004906062559135669

In [75]:
df_2016 = df.loc['2016-01-01':'2016-12-31'][['Ind_80_Bought','Ind_80_Sold']]
df_2016['Ind_80_Total'] = df_2016.Ind_80_Bought + df_2016.Ind_80_Sold
print(df_2016.Ind_80_Bought.mean())
print(df_2016.Ind_80_Sold.mean())
print(df_2016.Ind_80_Total.mean())

71892.35365853658
76496.35365853658
148388.70731707316

In [77]:
df_2016.Ind_80_Total.mean()/22503139

0.006594133703616778

#### A000100 유한양행

In [82]:
df = pd.read_csv('C:/Users/Park/Documents/BE_Thesis/Intermediate/A000100.csv', index_col=0)
df_2011 = df.loc['2011-01-01':'2011-12-31'][['Ind_80_Bought','Ind_80_Sold']]
df_2011['Ind_80_Total'] = df_2011.Ind_80_Bought + df_2011.Ind_80_Sold
print(df_2011.Ind_80_Bought.mean())
print(df_2011.Ind_80_Sold.mean())
print(df_2011.Ind_80_Total.mean())
print(df_2011.Ind_80_Total.mean()/1751483)

10824.548387096775
10524.790322580646
21349.33870967742
0.01218929256503056

In [83]:
df_2016 = df.loc['2016-01-01':'2016-12-31'][['Ind_80_Bought','Ind_80_Sold']]
df_2016['Ind_80_Total'] = df_2016.Ind_80_Bought + df_2016.Ind_80_Sold
print(df_2016.Ind_80_Bought.mean())
print(df_2016.Ind_80_Sold.mean())
print(df_2016.Ind_80_Total.mean())
print(df_2016.Ind_80_Total.mean()/971843)

14228.032520325203
11699.471544715447
25927.50406504065
0.02667869611145077

#### A088980 맥쿼리 인프라

In [84]:
df = pd.read_csv('C:/Users/Park/Documents/BE_Thesis/Intermediate/A088980.csv', index_col=0)
df_2011 = df.loc['2011-01-01':'2011-12-31'][['Ind_80_Bought','Ind_80_Sold']]
df_2011['Ind_80_Total'] = df_2011.Ind_80_Bought + df_2011.Ind_80_Sold
print(df_2011.Ind_80_Bought.mean())
print(df_2011.Ind_80_Sold.mean())
print(df_2011.Ind_80_Total.mean())
print(df_2011.Ind_80_Total.mean()/49839463)

193811.68951612903
117212.81854838709
311024.5080645161
0.006240526870534622

In [85]:
df_2016 = df.loc['2016-01-01':'2016-12-31'][['Ind_80_Bought','Ind_80_Sold']]
df_2016['Ind_80_Total'] = df_2016.Ind_80_Bought + df_2016.Ind_80_Sold
print(df_2016.Ind_80_Bought.mean())
print(df_2016.Ind_80_Sold.mean())
print(df_2016.Ind_80_Total.mean())
print(df_2016.Ind_80_Total.mean()/84292191)

226057.25609756098
178615.69918699187
404672.9552845528
0.0048008356466206084

#### A007690 국도화학

In [86]:
df = pd.read_csv('C:/Users/Park/Documents/BE_Thesis/Intermediate/A007690.csv', index_col=0)
df_2011 = df.loc['2011-01-01':'2011-12-31'][['Ind_80_Bought','Ind_80_Sold']]
df_2011['Ind_80_Total'] = df_2011.Ind_80_Bought + df_2011.Ind_80_Sold
print(df_2011.Ind_80_Bought.mean())
print(df_2011.Ind_80_Sold.mean())
print(df_2011.Ind_80_Total.mean())
print(df_2011.Ind_80_Total.mean()/1763435)

19139.923387096773
22055.50806451613
41195.4314516129
0.023360901565191175

In [87]:
df_2016 = df.loc['2016-01-01':'2016-12-31'][['Ind_80_Bought','Ind_80_Sold']]
df_2016['Ind_80_Total'] = df_2016.Ind_80_Bought + df_2016.Ind_80_Sold
print(df_2016.Ind_80_Bought.mean())
print(df_2016.Ind_80_Sold.mean())
print(df_2016.Ind_80_Total.mean())
print(df_2016.Ind_80_Total.mean()/1362548)

8072.524390243902
8319.91056910569
16392.434959349594
0.01203072108971544

#### A095720 웅진 씽크빅

In [88]:
df = pd.read_csv('C:/Users/Park/Documents/BE_Thesis/Intermediate/A095720.csv', index_col=0)
df_2011 = df.loc['2011-01-01':'2011-12-31'][['Ind_80_Bought','Ind_80_Sold']]
df_2011['Ind_80_Total'] = df_2011.Ind_80_Bought + df_2011.Ind_80_Sold
print(df_2011.Ind_80_Bought.mean())
print(df_2011.Ind_80_Sold.mean())
print(df_2011.Ind_80_Total.mean())
print(df_2011.Ind_80_Total.mean()/3928133)

77004.34274193548
74492.20564516129
151496.5483870968
0.03856706185536406

In [89]:
df_2016 = df.loc['2016-01-01':'2016-12-31'][['Ind_80_Bought','Ind_80_Sold']]
df_2016['Ind_80_Total'] = df_2016.Ind_80_Bought + df_2016.Ind_80_Sold
print(df_2016.Ind_80_Bought.mean())
print(df_2016.Ind_80_Sold.mean())
print(df_2016.Ind_80_Total.mean())
print(df_2016.Ind_80_Total.mean()/15812429)

146098.8536585366
148321.0162601626
294419.8699186992
0.018619522017692486